<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net471" />
  <package id="SkiaSharp" version="2.80.2" targetFramework="net471" />
  <package id="SkiaSharp.Views.Desktop.Common" version="2.80.2" targetFramework="net471" />
  <package id="SkiaSharp.Views.Gtk2" version="2.80.2" targetFramework="net471" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="Xamarin.Forms" version="4.8.0.1687" targetFramework="net471" />
  <package id="Xamarin.Forms.Platform.GTK" version="4.8.0.1687" targetFramework="net471" />
</packages>